  .sidebar {
    min-width: 65px;
    position: sticky;
    top:0;
    left: 0;
  }

  .content {
    min-height: 100vh;
  }

  .container {
    display: flex;
    align-items: start;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section:nth-child(odd) {
    background-color: #f2f2f2;
  }
  .section:nth-child(even) {
    background-color: #e6e6e6;
  }
  .progress-bar {
    position: fixed;
    top: 0;
    left: 60px;
    width: 2px;
    height: 0;
    background-color: red;
    transition: height 0.2s;
}

  .row {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }

  .col-1 {
    flex-basis: 8.33%;
    max-width: 8.33%;
    width: 65px;
  }

  .col-2 {
    flex-basis: 16.66%;
    max-width: 16.66%;
  }

  .col-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-4 {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }

  .col-5 {
    flex-basis: 41.66%;
    max-width: 41.66%;
  }

  .col-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-7 {
    flex-basis: 58.33%;
    max-width: 58.33%;
  }

  .col-8 {
    flex-basis: 66.66%;
    max-width: 66.66%;
  }

  .col-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-10 {
    flex-basis: 83.33%;
    max-width: 83.33%;
  }

  .col-11 {
    flex-basis: 91.66%;
    max-width: 91.66%;
  }

  .col-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col {
    flex: 1;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .p1{
    padding: 5px;
  }

  .info-dialog>div {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .info-dialog div div {
    font-size: 60px;
    color: #555;
    margin-bottom: 10px;
  }

  .info-dialog div p {
    color: #666;
    font-size: 18px;
  }

  @media (min-width: 991px) {
    .row-4 .col {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }


  @media (max-width: 991px) {
    .row-4 .col {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }

  }

  @media (max-width: 767px) {
    .row-4 .col {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media (max-width: 575px) {
    .row-4 .col {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .center-content {
    text-align: center;
  }
  
  .center-horizontally {
    display: flex;
    align-items: center;
  }

  .center-vertically {
    display: flex;
    justify-content: center;
  }

  .center-both {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .table-container {
    width: 80%;
    overflow-x: auto;
}

  .table-container table {
    width: 100%;
    border-collapse: collapse;
}

  .table-container th,
  .table-container td {
    border: 1px solid #dddddd;
    padding: 12px;
}

  .table-container th {
    background-color: #f2f2f2;
}

  .table-container tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .table-container tr:hover {
    background-color: #e0e0e0;
  }

  @media screen and (max-width: 800px) {
    .table-container table {
        width: 100%;
    }
    .table-container {
      width: 100%;
  }
  }

  button {
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
  }

  button:hover {
    background-color: #3700b3;
    color: white;

  }

  button:active {
    background-color: #10002b;
  }

  .form-container {
    background: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    color: #333333;
  }

  input[type="email"],
  input[type="password"],
  input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 4px;
    box-sizing:border-box
  }

  .hidden {
    display: none;
  }

  .card {
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: box-shadow 0.3s;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .card-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .card-content {
    font-size: 16px;
    color: #555;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    background: #a5b6ce;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #202936;
  }

  .hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .aside-navbar {
    vertical-align: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
  }


  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    list-style-type: none;
    padding: 0;
  }

  .navbar-link {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;

    color: white;
  }

  svg {
    height: 3Opx;
    width: 30px;
  }

  .appearance {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }