{{define "content"}}

<head>
  <title>Chat</title>
  <script src="/static/js/ws.js"></script>

  <style>
    .chat {
      padding-top: 30px;
      align-items: center;
    }

    .chat-input {
      height: 20vh;
    }

    .chat_message {
      width: 300px;
    }

    .messages {
      height: 80vh;
      width: 400px;
      overflow-y: auto;
      display: flex;
      flex-direction: column-reverse;
    }

    @media (max-width: 767px) {

      .messages,
      .chat_message {
        width: 300px;
      }

    }
  </style>
</head>
<div hx-ext="ws" class="chat" ws-connect="/ws">

  <div class="messages">
    <div id="message-content">
    </div>
  </div>
  <div class="chat-input center-content">
    <form id="form" ws-send hx-on::after-request="this.reset()">
      <input class="chat_message" name="chat_message">
    </form>
  </div>
</div>

<script>
  document.body.addEventListener('htmx:oobAfterSwap', function (evt) {
    const form = document.querySelector("#form");
    form.reset();
  });
</script>

{{end}}