<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Welcome to the digital realm of a passionate web developer. Explore my projects, insights, and expertise in web development.">
  <script src="/static/js/htmx.min.js"></script>

  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/css.css">
  <link rel="icon" type="image/x-icon" href="/static/uploads/favicon.png">
</head>

<body>
  <div class="container">
    <div class="sidebar">
      {{block "navbar" .}}{{end}}
    </div>
    <div class="row">
      <div class="col-12 center-both content">
        {{block "content" .}}{{end}}
      </div>
    </div>
  </div>
</body>


</html>