{{define "content"}}

<head>

  <style>
    .chat-container {
      width: 400px;
      margin: 0 auto;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    .send-btn {
      width: calc(100% - 20px);
      margin: 10px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #25D366;
      color: #FFFFFF;
      cursor: pointer;
    }
  </style>

</head>

<div hx-ext="ws" ws-connect="/ws">
  <div id="notifications"></div>
  <div id="chat_room">
  </div>
  <form id="form" ws-send>
    <input name="chat_message">
  </form>
  <div id="content"></div>
</div>




{{end}}