{{define "content"}}

<head>
  <style>
    .chat {
      align-items: center;
    }

    .chat-input {
      height: 20vh;
    }

    .messages {
      height: 80vh;
      width: 300px;
      overflow: auto;
    }
  </style>
</head>
<div hx-ext="ws" class="chat center-content" ws-connect="/ws">

  <div class="messages">
    <div id="content">
    </div>
  </div>
  <div class="chat-input">
    <form id="form" ws-send hx-on::after-request="this.reset()">
      <input name="chat_message">
    </form>
  </div>
</div>

<script>
  document.body.addEventListener('htmx:oobAfterSwap', function (evt) {
    const form = document.querySelector("#form");
    form.reset();
  });
</script>




{{end}}