{{define "content"}}

<head>
    <title>Login</title>
    <script src="/static/js/json-enc.js"></script>
    <script src="/static/js/htmx.min.js"></script>
</head>
<div class="form-container">
    <h1>
        Login
    </h1>
    <form id="login-form" hx-post="/auth/login" hx-ext="json-enc" on="submit" hx-swap="outerHTML"
        hx-target="#basic-error">
        <div>
            <label for="email">Your
                email</label>
            <input type="email" name="email" id="email" placeholder="name@company.com" required="">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="••••••••" required="">
        </div>
        <div class="mb-4">
            <button type="submit">Login</button>
        </div>
        <p>
            Don't have an account? <a href="/auth/register">Register here</a>
        </p>
        <p id="basic-error"></p>

    </form>

</div>
{{end}}