{{define "content"}}

<head>
    <title>Register</title>
    <script src="/static/js/json-enc.js" async></script>
</head>
<div class="form-container">
    <h1>
        Create an account
    </h1>
    <form id="login-form" hx-ext="json-enc" hx-post="/auth/register" hx-swap="outerHTML" hx-target="#basic-error">
        <div>
            <label for="email">Your
                email</label>
            <input type="email" name="email" id="email" placeholder="name@company.com" required="">
        </div>
        <div>
            <label for="lastName">Lastname</label>
            <input type="text" name="lastName" id="lastName" placeholder="Lastname" required="">
        </div>
        <div>
            <label for="firstName">Firstname</label>
            <input type="text" name="firstName" id="firstName" placeholder="Firstname" required="">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="••••••••" required="">
        </div>
        <div>
            <label for="confirmPassword">Confirm password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="••••••••" required="">
        </div>
        <button type="submit">Create
            an account</button>
        <p>
            Already have an account? <a href="/auth/login">Login here</a>
        </p>
    </form>
    <p id="basic-error"></p>
</div>
{{end}}