<tr hx-ext="json-enc" id="datarow-{{.ID}}">
  <td class="">
    <div class="center-both">
      <a href="/users/{{.ID}}">
        <img src="{{.ImageURL}}" onerror="this.src='../static/uploads/default_avatar.jpg'" alt="User Avatar"
          style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
      </a>
    </div>
  </td>
  <td>
    <input type="text" name="firstname" value="{{.FirstName}}" />
  </td>
  <td>
    <input type="text" data-include-edit="{{.ID}}" name="lastname" value="{{.LastName}}" />
  </td>
  <td>
    <input type="text" data-include-edit="{{.ID}}" name="email" value="{{.Email}}" />
  </td>
  <td>
    {{.Role.Name}}
  </td>
  <td class="center-content">
    <a hx-get="/users/{{.ID}}/row" hx-target="#datarow-{{.ID}}" hx-swap="outerHTML" href="">Cancel</a>
    <a hx-put="/users/{{.ID}}" hx-target="#datarow-{{.ID}}" hx-swap="outerHTML" hx-include="closest tr" href="">Save</a>
  </td>
</tr>
</form>