{{define "title"}}Users Details{{end}} {{define "content"}}

<div class=" bg-white shadow mt-24 ">
  <div class="grid grid-cols-1 md:grid-cols-3">
    <div class="grid grid-cols-3 text-center order-last md:order-first mt-20 md:mt-0">
      <div>
        <p class="font-bold text-gray-700 text-xl">22</p>
        <p class="text-gray-400">Friends</p>
      </div>
      <div>
        <p class="font-bold text-gray-700 text-xl">10</p>
        <p class="text-gray-400">Photos</p>
      </div>
      <div>
        <p class="font-bold text-gray-700 text-xl">89</p>
        <p class="text-gray-400">Comments</p>
      </div>
    </div>

    <div class="relative">
      <div
        class="w-48 h-48 bg-indigo-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500">
        <img id="profile_image" class="h-full w-full rounded-full object-cover object-center" src={{.ImageURL}}
          alt="User Avatar" onerror="this.src='../static/uploads/default_avatar.jpg'" />
        <span class="absolute right-4 bottom-4 h-5 w-5 rounded-full bg-green-400 ring ring-white"></span>

      </div>
    </div>

  </div>
  <div class="mt-20 text-center border-b pb-12">
    <h1 class="text-4xl font-medium text-gray-700">{{ .FirstName }} {{ .LastName }}
    </h1>
    <p class="font-light text-gray-600 mt-3">Bucharest, Romania</p>
    <p class="mt-8 text-gray-500">{{ .Email }}</p>
    <p class="mt-2 text-gray-500">University of Computer Science</p>
  </div>
  <form id='form' hx-encoding='multipart/form-data' hx-post='/users/{{.ID}}/upload'>
    <input class="appearance" type='file' name='file'>
    <button>
      Upload
    </button>
    <progress id='progress' value='0' max='100'></progress>
  </form>

</div>
<script>
  htmx.on('#form', 'htmx:xhr:progress', function (evt) {
    htmx.find('#progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100)
  });
  document.body.addEventListener('htmx:beforeSwap', function (evt) {
    if (evt.detail.xhr.status === 404) {
      alert("Error: Could Not Find Resource");
    } else {
      evt.detail.shouldSwap = false;
      document.getElementById("profile_image").src = evt.detail.serverResponse;
    }
  });

</script>
<style>
  .appearance {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
</style>
{{end}}