<div hx-swap-oob="beforeend:#content">

  <div class="center-horizontally p1">
    <div class="profile-pic">
      <div>
        <img src="{{.User.ImageURL}}" alt="Profile Picture">

      </div>
    </div>
    <div class="message-content col-9">
      <div class="row"><b>{{.User.LastName}} {{.User.FirstName}}</b></div>
      <div class="message-text row">{{.ChatMessage}}.</div>
    </div>
  </div>
  <style>
    .profile-pic {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      padding-right: 10px;
    }

    .profile-pic img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .message-text {
      background-color: #DCF8C6;
      padding: 10px;
      border-radius: 10px;
      word-break: break-word;
    }
  </style>
</div>