<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <!-- Include HTMX library -->
    <script src="https://unpkg.com/htmx.org@1.7.1/dist/htmx.js"></script>
</head>
<body class="bg-gray-100 p-4">
    <div class="container mx-auto">
        <h1 class="text-2xl font-semibold mb-4">User Details</h1>
        
        <!-- User Information -->
        <div id="user-details" class="bg-white shadow-md rounded px-4 py-4">
            <p><strong>User ID:</strong> <span id="user-id">{{ .ID }}</span></p>
            <p><strong>Name:</strong> <span id="user-name">{{ .FirstName }} {{ .LastName }}</span></p>
            <p><strong>Email:</strong> <span id="user-email">{{ .Email }}</span></p>
            <!-- You can add more user details here as needed -->
        </div>
        <a href="/users" class="hover:underline">
          <button>Users</button>
        </a>
        
       
    </div>
    <script>
      // Initialize HTMX
      htmx.config.historyEnabled = false;
    
  </script>
</body>
</html>
